<div class="col-xs-12">
  <div class="review">
    <div class="row">
        <h2><%= @restaurant.name %></h2>
        <p><strong><%= review.rating %></strong></p>
        <p><%= review.content %></p>
    </div>
  </div>
</div>
